h1 {
    font-size: 50px;
}

.fiveDay {
    float: left;
}


input {
    padding: 5px;
}

.low {
    background-color: green;
}

.high {
    background-color: yellow;
}

.veryHigh {
    background-color: red;

}

.color {
    background-color: rgb(145, 213, 245);
}